.contentcenter{
    justify-content: center;
    text-align:center
}
.contentcenter{
    justify-content: center;
    text-align:center
}

.textChnage{
    font-size: 50px;
}

.space{
    padding-left: 35px;
    padding-right: 55px;
    font-style:oblique;
   
}
  
.center{
    justify-content: center;
    text-align: center;
}